:root {
  --main-color: #004f8b;
  --accent-color: #0083e1;
  --white: #ffffff;
  --black: #000000;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  width: 100%;
  text-align: center;
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  place-items: center;
  align-content: center;
  margin-bottom: 8px;
}

h1 {
  font-size: 5rem;
}

h1 span {
  color: var(--main-color);
}

header p {
  font-size: 1.5rem;
  color: var(--accent-color);
}

p span {
  border-left: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
  padding-left: 8px;
  padding-right: 8px;
}

.profile-photo {
  border-radius: 5px;
}

.header-socials a {
  color: var(--main-color);
}

.header-socials a:hover {
  color: var(--accent-color);
}

a:hover {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
}

h2,
.skill-container > p {
  text-align: center;
  font-size: 25px;
}

#experience {
  background-color: var(--accent-color);
  color: var(--white);
  padding: 2rem;
}

.flex-container {
  justify-content: center;
}

.flex-container div {
  margin: 8px;
}

.project-container {
  position: relative;
  width: 90%;
  margin: 5% auto;
  border-radius: 5px;
}

.project-container img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 79, 139, 0.9);
  color: var(--white);
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
}

.project-container a {
  text-transform: uppercase;
  border-radius: 36px;
  border: 1px solid var(--white);
  color: var(--white);
  text-decoration: none;
  padding: 1rem 2rem;
  width: max-content;
  margin: auto;
}

.project-container a:hover {
  color: var(--main-color);
  background-color: var(--white);
}

.project-container:hover #overlay {
  opacity: 1;
}

#portfolio {
  padding: 2rem 0;
}

#skills {
  background-color: var(--accent-color);
  transform: skewY(5deg);
  padding: 4%;
  margin: 4% 0;
}

#skills h2 {
  transform: skewY(-5deg);
  color: var(--white);
}

ul {
  list-style-type: none;
  line-height: 23px;
  padding: 0;
}

.skill-container {
  transform: skewY(-5deg);
  text-align: center;
  color: var(--white);
}

.skill-container i {
  margin: 18px;
}

.row > .col {
  max-width: calc(100% / 3);
}

#bio {
  padding-top: 1rem;
}

#bio h2 {
  padding: 2rem;
}

.bio-text {
  width: 80%;
  margin: 30px auto;
  line-height: 28px;
  font-size: 1.25rem;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 8px;
  text-align: center;
  background-color: var(--main-color);
  color: var(--white);
}

footer i {
  color: var(--white);
}

footer i:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .row > .col {
    max-width: 100%;
    text-align: center;
  }
}
