:root {
  --main-color: #004f8b;
  --accent-color: #0083e1;
  --white: #ffffff;
  --black: #000000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  text-align: center;
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  place-items: center;
  align-content: center;
}

h1 {
  font-size: 3.5rem;
}

h1 span {
  color: var(--main-color);
}

header p {
  font-size: 1.5rem;
  color: var(--accent-color);
}

p span {
  border-left: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
  padding-left: 8px;
  padding-right: 8px;
}

.profile-photo {
  border-radius: 5px;
}

h2,
.skill-container > p {
  text-align: center;
  font-size: 25px;
}

section {
  margin-top: 5%;
  margin-bottom: 5%;
}

.bio-text {
  width: 90%;
  margin: 30px auto;
  line-height: 23px;
  font-size: 15px;
}

.flex-container {
  width: 90%;
  margin: 30px auto;
}

.flex-container > div {
  margin: 8px;
}

ul {
  list-style-type: none;
  text-align: center;
  line-height: 23px;
  padding: 0;
}

#experience {
  width: 95%;
  margin: auto;
}

.project-container {
  width: 95%;
  margin: 5% auto;
  border-radius: 5px;
}

.project-container img {
  width: 100%;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: var(--main-color);
  color: var(--white);
}

footer i {
  color: var(--white);
}
